
<li [class.active]="menuItemData.active">
  <div (click)="onSubMenuClick(menuItemData, $event)" *ngIf="!!menuItemData.subMenuItemList" [class.activePath]="menuItemData.activePath">
    <md-icon class="icon">{{menuItemData.icon}}</md-icon>
    <span>{{menuItemData.text}}</span>
    <md-icon class="arrow">keyboard_arrow_left</md-icon>
  </div>
  <div (click)="onItemClick(menuItemData)" *ngIf="!menuItemData.subMenuItemList">
    <md-icon class="icon">{{menuItemData.icon}}</md-icon>
    <span>{{menuItemData.text}}</span>
    <md-icon class="selected" *ngIf="menuItemData.active">gps_fixed</md-icon>
  </div>
  <ul class="sub-menu" *ngIf="menuItemData.subMenuItemList" style="display:none">
    <djd-sidebar-menu-item
      *ngFor="let subMenuItem of menuItemData.subMenuItemList"
      [menuItemData]="subMenuItem"
      (onMenuItemClick)="onItemClick($event)">
    </djd-sidebar-menu-item>
  </ul>
</li>