<div>

  <djd-table [params]="params" >

    <djd-form-field label="用户名" controlName="AdminCode"></djd-form-field>
    <djd-form-field label="姓名" controlName="AdminName"></djd-form-field>
    <djd-form-field label="性别" controlName="Gender"></djd-form-field>
    <djd-form-field label="电话号码" controlName="PhoneNo"></djd-form-field>
    <djd-form-field label="出生年月" controlName="Birthday"></djd-form-field>
    <djd-form-field label="身份证号" controlName="CardNo"></djd-form-field>

  </djd-table>

</div>