/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}





ul {
  list-style: none;
}


.md-card-edit {
  width: 500px;
  margin: 20px auto;

  md-card-header {
    display: block;
    md-card-title {
      text-align: center;
    }
  }

  

  .md-card-edit-item {
    display: block ;
    width: auto ;
  }

  md-card-actions {
    button {
      float: right;
    }
  }
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}